*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  background-color: var(--bg-color, #F3EFEC);
  min-inline-size: 360px;
  margin: 0;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

:root {
  /* переменные для переключения темы */
  /* цвет фона */
  --bg-color: #F3EFEC;
    /* цвет текста */
    --text-color: #312A4E;;
    
    /* акцентичный цвет (подчеркивание у кнопок и выделение текста в карточке) */
    --accent-color: #FFAB6B;
    
    /* другие переменные */
    /* имя семейства шрифтов преобладающего текста (абзацы) */
    --main-font: 'Raleway';
    
    /* шрифт для заголовков и особенных текстовых элементов */
    --accent-font: 'STIX Two Text';
  }
  
  /* общее свойство для всех заголовков */
  .heading {
    font-family: var(--accent-font, serif);
    color: var(--text-color, #312A4E);
    text-align: center;
    font-weight: 600;
    line-height: 90%; /* 27px */
    text-align: center;
  }

/* создание полей по бокам */
.content-section {
  padding: 0 5vi;
}

.header {
padding-top: 10%;
}

/* резиновый размер шрифта для заголовка с помощью сайта Font-size Clamp Generator*/
/* исходя из размера шрифта в максимальной и минимальной ширине макета */
.header_title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-block-end: 40px; /* margin-bottom */
}

/* навигационное меню с лого и переключателем тем */
.header_menu {
display: flex;
justify-content: space-between;


border-top: 1px solid #312A4E;
border-bottom: 1px solid #312A4E;

padding-block: 20px;
}



/* контейнер списка */
.header_theme-toggler {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  
}

/* обе кнопки */
.header_theme-button {
  border: none;
  color: var(--text-color);
  font-family: var(--main-font);
  line-height: 104%; /* 18.72px */
  font-size: 18px;
  cursor: pointer;
  position: relative;
  /* прозрачный фон для подчеркивания оранжеовго */
  background-color: transparent;
  /* жирность 400 - неактивная, 700 - активная */
  font-weight: 400;
}

/* кнопка тёмной темы */
.header_theme-button_type_dark

/* кнопка светлой темы */
.header_theme-button_type_light

/* включённая в текущий момент кнопка */
.header_theme-button_is-active {
  font-weight: 700;
}

/* контейнер с лого */
.header_logo {
display: flex;
flex-direction: column;
justify-content: space-around;
}


/* подчеркивание у активной темы */
.header_theme-button_is-active::after {
  content: '';
  position: absolute;
  background-color: var(--accent-color);
  /* чтобы был за текстом */
  z-index: -1;
  /* размер самой линии + отступы от текста */
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
}

/* сброс фокуса у кнопок и ссылок */
button:focus,
 a:focus {
  outline: none;
}

/* фокус для ссылок и кнопок */
button:focus-visible,
a:focus-visible {
  outline: 1px solid var(--text-color);
}

/* выключенная кнопка (то есть уже активная) без реагирования */
button:disabled {
  pointer-events: none;
}

/* стандратное подчеркивание при наведении курсора */
.header_theme-button:hover {
 text-decoration: underline;
}


/* заголовки main */
.content_title {
font-size: 30px;
margin-top: 7%;
margin-bottom: 2.5%;
}

.content_text-block {
  font-family: var(--main-font, 'Raleway');
  font-size: 18px;
}

.content_paragraph {
  color: var(--text-color, #312A4E);
  /* font-size: 30px; */
}

/* отступы параграфа (кроме последнего), вложенные в блоки */
.content_text-block .content_paragraph:not(:last-of-type) {
  margin-block-end: 1.5em; /* margin-bottom */
}


/* принудительное наследование цвета текста от родителя у ссылок (вложенны)*/
.content_text-block a {
color: inherit;
}

/* цитата */
.content_blockquote {
  color: var(--text-color, #312A4E);
  font-style: italic;
  font-weight: 400;
  line-height: 200%; /* 36px */
  /* размер */
  inline-size: 75%;
  margin: 0 auto 1.5em;
}

/* убираем маркеры и делаем отступ слева */
/* плюс позиция для вставки маркера */
.content_list {
  position: relative;
  list-style-type: none;
  padding-inline-start: 30px;
}


/* отступы списка кроме последнего */
.content_list:not(:last-of-type) {  
  margin-block-end: 10px;
}

/* создаем кроссбраузерный маркер */
.content_list::before {
content: '';
position: absolute;
/* квадрат 15на15 */
inline-size: 15px;
block-size: 15px;
background-image: url(/images/marker-light.svg);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
/* приколы с позиционированием */
margin-block-start: -7.5px;
inset-block-start: 50%;
inset-inline-start: 0;
}

/* буквица (т.е. заглавная буква стильная */
.content_text-block_type_first-lettered .content_paragraph:first-child:first-letter {
  /* Делаем строчно-блочный для добавления отступов */
  display: inline-block;
  background-color: var(--accent-color);
  font-size: 30px;
  font-weight: 700;
  /* letter-spacing: 9px; */
  padding: 0 4px;
  /* отступ справа */
  margin-inline-end: 1px;
}

/* контейнер с изображением */
.content_figure {
margin: 7% auto;
/* делаем изображение на всю страницу */
/* 100% + сумма боковых отступов (5vi and 5vi) */
width: calc(100% + 10vi);
position: relative;
right: 5vi;
}

/* изображение */
.content__picture {
  width: 100%;
}

/* описание изображения снизу */
.content_picture-caption {
color: var(--text-color);
font-family: var(--main-font);
font-size: 18px;
font-weight: 400;
text-align: center;
border-bottom: 1px solid var(--text-color);
padding: 20px 0;
}

/* контейнер с карточкой */
.content_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
margin-top: 7%;
border: 1px solid var(--text-color);
/* пропорции 4/3 */
aspect-ratio: 4/3;
}

/* заголовок карточки */
.content_card-title {
  font-size: 60px;

}

/* абзац в карточке */
.content_card-subtitle {
  font-size: 18px;
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: 400;
  text-align: center;
}

/* для подчеркивания позиция и дисплей */
.colored-text {
  position: relative;
  display: inline-block;
}

/* подчеркивание заголовка в конце */
.colored-text::after {
  content: '';
  position: absolute;
  background-color: var(--accent-color);
  /* чтобы был за текстом */
  z-index: -1;
  /* размер самой линии + отступы от текста */
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
}


/* подвал */
.footer {
display: flex;
justify-content: center;
margin-top: 10%;
padding: 2.5%;
border-top: 1px solid var(--text-color);
}

/* абзац подвала */
.footer__copyright {
color: var(--text-color);
font-family: var(--main-font);
font-size: 18px;
font-weight: 400;
}